# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA project files
.idea/

# Maven files
target/

# Gradle files
build/

# External libraries
lib/

# Package files
*.jar
*.war
*.ear

# Temporary files
*.swp
*~

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*~
*.bak
*.backup
/out/
